<h1>Hi! Here's your API Key</h1>

<p>
    You've confirmed your email address. Now, you can use Vacansee API using the API Key below <br>
    Do NOT share your API Key with someone else!<br><br>
    Read our <a href="{{ url('api_doc') }}">API docs</a>: <br><br>
</p>

<p>API Key: </p>
<pre>{{ apikey }}</pre>

<p>
    Cheers!
</p>
