<h1>Hi! I'm here to remember you your API Key</h1>

<p>
    Someone tried to get API Key with your email. <br>
    If it's not you then just ignore this email.<br>
    If you forgot your API Key here it is.<br><br>
</p>

<pre>{{ apikey }}</pre>

<p>
    Cheers!
</p>
