@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "node_modules/bootstrap/scss/bootstrap";

$font-family-base: Poppins, sans-serif;

$theme-colors: (
        primary: #05868C,
        secondary: #F8F9FA
);

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.2rem;
  }
}

@import "~bootstrap";

.form-control:focus {
  border-color: #05868C;
  box-shadow: 0 0 0 0.2rem rgba(2, 134, 140, 0.25);
}

.dropdown-menu {
  background-color: #ffffff88 !important;
}

.dropdown-item {
  color: #05868C !important;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
  color: #F8F9FA !important;
  text-decoration: none !important;
  background-color: #05868C !important;
}

.nav-link {
  color: #F8F9FA !important;
}

.nav-link:hover {
  color: #ffffff88 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #ffffff88 !important;
}

.header {
  color: #F8F9FA !important;
}

.logo {
  width: 140px;
}

.display-4 {
  font-size: 2.5rem;
}

.lead {
  font-size: 1rem;
}

.btn {
  background-color: #ffffff44;
}

.btn:hover, .btn:focus, .btn:active {
  color: #05868C;
}

.bg {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

@include media-breakpoint-up(xl) {
  .logo {
    width: 160px;
  }

  .alert {
    font-size: 70%;
  }

  .close {
    font-size: 0.9rem;
  }
}