body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-control:focus {
    border-color: #00B0AD;
    box-shadow: 0 0 0 0.2rem rgba(0, 176, 173, 0.25);
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #00B0AD !important;
}

.logo {
    width: 192px;
}

.alert {
    font-size: 0.6rem;
}

.close {
    font-size: 0.8rem;
}

@media (max-width: 1200px) {
    body {
        background-image: none !important;
    }

    .logo {
        width: 150px;
    }
}